@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap");

#root {
  background: #1d1d23;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.timer {
  border-radius: 20px;
  background: #34344a;
  width: 849px;
  height: 132px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.timer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer p {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn {
  border-radius: 26px;
  background: #f0f757;
  width: 124px;
  height: 52px;
  flex-shrink: 0;
  color: #34344a;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timer input {
  color: #fff;
  text-align: center;

  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;
}
input:focus{
  outline:none;
}
input::placeholder{
  color:#fff;
}
/* input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */

#currentTimers {
  width: 321.37px;
text-align: center;
  border-radius: 50px;
  background: #39393E;
  padding: 15px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#noTimers {
  width: 321.37px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;



}
.time-up {
  background-color: #ebeb07;
 
  font-weight: 600;
  display: flex;
  justify-content: space-around !important;

}
.time-up p{
  color: #34344a !important;
  font-size: 40px;
  margin-left: 130px;
}
.delete-btn {
  background-color: #34344a;
  color: #ebeb07;
  font-weight: 600;
}

/* #timer-input-section {
  border-radius: 20px;
  background: #34344a;
  width: 849px;
  height: 132px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#timer-input-section,
#active-timers-section {
  margin-bottom: 20px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.timer-ended {
  background-color: #f2f2f2;
} */